<div class="background-image"> <%= image_tag "7.jpg", :class => "img-fluid" %> </div>
<div class= content>
    <h1 class= "text-center">Welcome to RezziTable</h1>
    <div class="col-center signin-container">
        <div class= form-group>
            <%= form_tag login_path do %>
                <div class="text-center" >
                    <%= text_field_tag :username, nil, placeholder: "username"%> <br>
                </div>
                <div class="text-center">
                    <%= password_field_tag :password, nil, placeholder: "password" %> <br><br>
                </div>
                <%= submit_tag  "Log in", class: "btn btn-primary btn-block" %>
            <% end %>
            <p id="signup">New to RezziTable? </p>
            <%= button_to "Sign Up", {action: "new", controller: 'users'}, method: :get, class: "btn btn-primary btn-block" %>
        </div>
    </div>
   <% if flash[:error] %>
   <%= flash[:error]%>
   <% end %>
</div>

 
