<%= form_with model: @reservation do |f| %>
    <div class="form-group">
        <%= f.label "Party Size" %>
        <%= f.select :party_size, options_for_select(2..10) %>

        <%= f.label "Reservation Date" %>
        <%= f.date_field :reservation_date %><br>

        <%= f.label "Reservation Time" %>
        <%= f.select :reservation_time, options_for_select(@times.reverse) %>
    
        <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
        <%= f.hidden_field :user_id, value: session[:user_id] %>
        
        <%= f.submit "Submit"%>
    </div>
<% end %>