<%= form_with model: @reservation do |f| %>
    <div class="form-group">
        <%= f.label "Party Size" %>
        <%# <%= f.number_field :party_size %>
        <%= f.select :party_size, options_for_select(2..10) %>

    </div>

    <div class="form-group">
        <%= f.label "Reservation Date" %>
        <%= f.date_field :reservation_date %><br>
    </div>

    <div class="form-group">
        <%= f.label "Reservation Time" %>
        <%# <%= f.time_field :reservation_time %>
        <%= f.select :reservation_time, options_for_select(@times.reverse) %>
    </div>
    
    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.hidden_field :user_id, value: session[:user_id] %>
    
    <%= f.submit "Submit"%>
<% end %>