<h1>Update your reservation at <%=@restaurant.name%> </h1>

<%= form_with model: @reservation do |f| %>
    <%= f.label "Reservation Date" %>
    <%= f.text_field :reservation_date %><br>

    <%= f.label "Reservation Time" %>
    <%= f.text_field :reservation_time %><br>

    <%= f.label "Party Size" %>
    <%= f.number_field :party_size %><br>

    <%= f.hidden_field :restaurant_id, value: @restaurant.id %>
    <%= f.hidden_field :user_id, value: @user.id %>
    
    <%= f.submit%>
<% end %>