<div class="background-image"> <%= image_tag "7.jpg", :class => "img-fluid" %> </div>

<div class="reservation-show-container">
    <div class="reservation-container">
        <h1 class="reservation-details-header">Your Reservation at <%= @reservation.restaurant.name %></h1>

        <div class="reservation-details">
            <h4>Reservation Details</h4>
            <p>Party size: <%= @reservation.party_size %></p>
            <p>Date: <%= @reservation.reservation_date %></p>
            <p>Time: <%= @reservation.reservation_time %></p>
        </div>

        <% if @reservation.reservation_date.to_datetime > DateTime.now %>
            <h4 class="change-reservation-header">Change Reservation</h4>
            <div class="reservation-buttons">
                <button type="button" class="btn btn-outline-primary edit-reservation-button"><%= link_to "Edit Reservation", edit_reservation_path(@reservation) %></button>
                <%= button_to "delete", @recipe, :method => :delete, :class => "btn btn-outline-danger edit-reservation-button" %>
            </div> 
        <% else %>
            <div class="review-button-container">
                <button type="button" class="btn btn-outline-primary leave-review-button"><%= link_to "Review #{@reservation.restaurant.name}", new_review_path(@restaurant) %></button>
            </div>            
        <% end %>

    </div>
</div>
