
 <div class="background-image"> <%= image_tag "8.jpg", :class => "img-fluid" %> </div>
<div class= "review_container">
       <div class= "review_card">
               <br><br>
           <h1><%= @review.restaurant_name  %></h1>
               <br><br>
           <div class= "line"> </div>
           <p>My Review</p>
           <div class= "attribute_container" >
               <div class= "attribute_container_item">
                   <p style= "font-size: 2em; border-right: solid 0.25px black;"> <%= @review.food_rating%></p>
                   <p>  food </p>
               </div>
               <div class= "attribute_container_item">
                   <p style="font-size: 2em; border-right: solid 0.25px black;"><%= @review.decor_rating%></p>
                   <p>Decor </p>
               </div>
               <div class= "attribute_container_item">
                       <p style= "font-size: 2em; border-right: solid 0.25px black;"><%= @review.service_rating%></p>
                       <p>Service </p>
               </div>
           </div>
           <div class= "line"> </div>
               <br><br><br>
               <p class= "review_card_rating">Overall Rating: <% @review.average_rating.times do%>
                       ⭑
                   <% end %>
               </p>
               <br>
               <br>
               <br>
           <p>Description: <%= @review.description %></p>

           <div class="reservation-buttons">
            <button type="button" class="btn btn-outline-primary edit-reservation-button"><%= link_to "Edit Review", edit_review_path(@review) %></button>
        </div> 


          
       </div>
   </div>